
.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0 0 8px 8px;
  padding: 20px 25px;
  width: 85%;
  font-size: 1.1em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ff6721;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  border-radius: 0 0 8px 0px;
}
#sendFile{
  /* color: #fff !important; */
  /* text-transform: uppercase; */
  text-decoration: none;
  background: none;
  padding: 20px;
  background-color: #9421ff;
  /* display: inline-block; */
  border: 1px solid  #ff6721;
  /* width: 20%; */
}